@media (max-width: 400px) and (max-height: 800px) {
    .main nav {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid white; */
    }
    
    .main nav .active {
        color: #ffd189;
    }
    
    .main nav ul {
        display: flex;
        /* border: 1px solid white; */
        
    }
    
    .main nav a {
        color: white;
        list-style: none;
        position: relative;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
        transition: .3s linear;
        text-decoration: none;
    }
    
    .main nav a:hover {
        color: #ffd189;
    }
    
    
    
    .poster {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 80%;
        text-align: center;
        align-items: center ;
        margin: 15% 2% 0% 2%;
        /* border: 1px solid white; */
        border-radius: 20px 20px 50px 50px;
        background: #141d2c;
    }

    .poster img {
        margin: 5% 5% 15% 5%;
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }

    .play{
        background: #070c18;
        align-items: center;
        width: 100%;
        height: 12%;
        display: flex;
        /* border: 1px solid white; */
        padding: 0px 20px;
    }
    
    .play img {
        margin-left: 2vw;
        width: 55px;
        height: 55px;
        border-radius: 10px;
        display: none;
    }
    
    .play .judul {
        color:white;
        font-size: 16px;
        margin-left: 20px;
        display: none;
        /* border: 1px solid white; */
    }
    
    .play .sub {
        color: #4c5262;
        font-size: 12px;
    }
    
    .pemutar {
        margin-top: -10px;
        margin-left: 70px;
        align-items: center;
        /* border: 1px solid white; */
    }
    
    .play .pemutar .icon {
        cursor: pointer;
        position: relative;
        margin-left: 14vw;
        width: 200px;
        color: white;
        font-size: 32px;
    }
    
    .play .pemutar .icon :hover{
        color: #ffd189;
    }
    
    .play .pemutar .playback span {
        color: white;
        width: 32px;
        font-size: 12px;
    }
    
    .play .playback {
        display: flex;
        margin-left: -60px;
    }
    
    .play .playback .garis {
        position: relative;
        width: 250px;
        border-radius: 10.5%;
        height: 4px;
        background:#4c5262;
        margin: 8px 15px 0px 10px;
    }
    
    .play .playback .garis2 {
        position: absolute;
        background: #ffd189;
        width: 0%;
        height: 100%;
        top:0px;
        transition: 2s linear;
    }
    
    .play .playback .dot {
        position: absolute;
        width: 12px;
        height: 12px;
        background: #ffd189;
        border-radius: 50%;
        top: -4px;
        transition: 2s linear;
    }
    
    .play .playback input {
        position: absolute;
        width: 200px;
        top: -10px;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
    }
    
    .play .vol {
        position: relative;
        border-radius: 12%;
        width: 100px;
        height: 4px;
        background:#4c5262;
        margin-left: 60px;
        display: none;
    }
    
    .play .vol i {
        position: absolute;
        color: white;
        font-size: 24px;
        top:-15px;
        left: -30px;
    }
    
    .play .vol input {
        position: absolute;
        width: 100%;
        top: -9px;
        cursor: pointer;
        z-index: 1;
        opacity: 0;    
    }   
    
    .play .vol .garis_volume {
        position: absolute;
        background: #ffd189;
        width: 100%;
        height: 100%;
        transition: .3s;
    }
    
    .play .vol .dot_volume {
        position: absolute;
        width: 12px;
        height: 12px;
        background: #ffd189;
        border-radius: 50%;
        top: -4px;
        left: 100%;
        transition: .3s;
    } 
}