@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.main .search_bar {
    position: relative;
    width: 60%;
    padding: 1px 10px;
    border-radius: 20px;
    background: none;
    color: gray; 
    border: 1px solid #4c5262;
}

.main .search_bar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

.main .search_bar .bi {
    font-size: 15px;
}

.main .search_bar input {
    width: 90%;
    border: none;
    outline: none;
    /* padding: 5px 10px; */
    color: white;
    font-size: 13px;
    background: none;
    /* border: 1px solid #4c5262; */
}


.main .search_bar .results{
    position: absolute;
    background: #252d3b;
    width: 100%;
    height: 170px;
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 10px;
    overflow: auto;
    border-color: none;
}

.main .search_bar .results .card {
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.main .search_bar .results .a img{
    width: 50px;
    height: 50px;
    margin-left: 2px;
    border-radius: 5px;
}

.main .search_bar .results .card .content {
    width: 80%;
    height: 100%;
    font-size: 13;
    margin-left: 10px;
}




.search-sort {
    height: 30px;
    display: flex;
    align-items: center;
}

button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-box {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: #252d3b;
    /* border: 2px solid #00918e; */
    padding: 0;
    display: flex;
}

.search-box .bi {
    margin:auto;
}

.search-box button {
    padding-left: 8px;
}

.sort, .filter {
    height: 100%;
    display: flex;
    margin: 0 10px 0 20px;
    position: relative;
}

.dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    height: 100%;
    box-sizing: border-box;
    background-color: #252d3b;
    color: white;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
}

.sort #custom-dropdown {
    position: absolute;
    top: 0;
    left: 52%;
    width: 20px;
    height: 100%;
    border-radius: 15px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort image {
    height: 20px;
}

.filter {
    margin-left: 0;
    margin-right: 10px;
    height: 100%;
    display: flex;
    position: relative;

}

.filter button {
    position: absolute;
    top: 23%;
    left: 68%;
}