@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #0b1222 ;
    flex-wrap: wrap;
}

.side{
    width: 25%;
    height: 88%;
    background: #0b1222 ;
    /* border: 1px solid white; */
}

.side h1 {
    width: 320px;
    height: 15%;
    color: white;
    font-size: 2.5vw;
    font-weight: 400;
    padding: 20px 20px 20px 30px;
    /* border: 1px solid white; */
    margin-left: 30px;
    background: #141d2c;
}

.side .menu{
    width: 320px;
    height: 85%;    
    padding: 20px 0px 10px 30px;
    background: #141d2c;
    /* border: 1px solid white; */
    margin-left: 30px;
}


.side .menu a {
    color: #4c5262;
    font-size: 1.5vw;
    font-weight: 400;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
    text-decoration: none;
}

.side .menu a:hover {
    color: white;
}

.side .menu a span {
    position: relative;
    margin-right: 35px;
}

.side .menu a span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

.side .menu a:hover span::before{
   border: 2px solid white;
}

.side .menu a .bi{
    display: none;
 }


.side .menu .active{
    color: #ffd189;
}

.side .menu .active span {
    display: none;
}

.side .menu .active .bi {
    display: flex;
    margin-right: 20px;
}


.side .logout_button {
    color:white;
    font-size: 16px;
    font-weight: 600;
    background: #A30000;
    margin-left: 35%;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    justify-content: center;

}

.logout {
    background: #141d2c;
    margin-left: 30px;
    width: 320px;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 20px;
}

.side .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.side .popup {
    display: none;
    left: 50%;
    width: 27%;
    transform: translate(-50%, -50%);
    background-color: #0b1222;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    overflow: hidden;
    border-radius: 20px;
    color: white;
}

.side .popup .label {
    font-size: 16px;
    display: flex;
    margin-top: 1px;
    margin-bottom: 1px;
    color: white;
}

.side .popup label {
    margin-right: 57%;
}

.side .popup button[id="close_btn"] {
    color:white;
    font-size: 16px;
    font-weight: 600;
    background: #4c5262;
    margin-top: 5%;
    margin-left: 30%;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    justify-content: center;
}

.side .popup .btn {
    display: flex;
}