@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #0b1222 ;
    flex-wrap: wrap;
}
.main{
    position: relative;
    background: #0b1222;
    width: 100%;
    height: 88%;
    /* border: 1px solid white; */
    overflow: hidden;
    box-shadow: 5px 0px 2px #090f1f;
}

.main nav {
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main nav .active {
    color: #ffd189;
}

.main nav ul {
    display: flex;
}

.main nav a {
    color: white;
    list-style: none;
    position: relative;
    font-size: 20px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s linear;
    text-decoration: none;
}

.main nav a:hover {
    color: #ffd189;
}

.search_bar .search-sort {
    height: 30px;
    display: flex;
    align-items: center;
}

.search_bar button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search_bar .search-box {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: #252d3b;
    /* border: 2px solid #00918e; */
    padding: 0;
    display: flex;
}

.search_bar .search-box .bi {
    margin:auto;
}

.search_bar .search-box button {
    padding-left: 8px;
}

.search_bar .sort, .filter {
    height: 100%;
    display: flex;
    margin: 0 10px 0 20px;
    position: relative;
}

.search_bar .dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    height: 100%;
    box-sizing: border-box;
    background-color: #252d3b;
    color: white;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
}

.search_bar .sort #custom-dropdown {
    position: absolute;
    top: 0;
    left: 52%;
    width: 20px;
    height: 100%;
    border-radius: 15px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar .sort image {
    height: 20px;
}

.search_bar .filter {
    margin-left: 0;
    margin-right: 10px;
    height: 100%;
    display: flex;
    position: relative;

}

.search_bar .filter button {
    position: absolute;
    top: 23%;
    left: 68%;
}
.main nav .user {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.main nav .user:hover{
    color:#ffd189;
}

.main nav .profile {
    position: absolute;
    top: 10%;
    right: 0px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}

.main .profile p {
    margin-top: 15px;
}

.main nav .profile.open{
    max-height: 400px ;
}

.main nav .sub_menu {
    border-radius: 20px 0px 20px 20px;
    background: #0b1222;
    padding: 20px;
    margin: 10px;
}

.main nav .sub_menu hr {
    height: 1px;
    width: 100%;
    color: white;
    margin: 15px 0 10px;
}

.main nav .submenu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 15px 0px;
}

.main nav .submenu-link:hover {
    color: #ffd189;
}

.main nav .submenu-link p {
    width: 100%;
}

.main nav .submenu-link i{
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 8px;
    margin-right: 15px;
}

.main nav .profile_pic {
    display: flex;
    align-items: center;
}

.main nav .profile_pic h2 {
    font-weight: 500;
    color: white;
}


.play{
    background: #070c18;
    align-items: center;
    width: 100%;
    height: 12%;
    display: flex;
    /* align-items: center; */
    /* border: 1px solid white; */
    padding: 0px 20px;
}

.play img {
    margin-left: 2vw;
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.play .judul {
    color:white;
    font-size: 16px;
    margin-left: 20px;
}

.play .sub {
    color: #4c5262;
    font-size: 12px;
}

.pemutar {
    margin-top: -10px;
    margin-left: 18.5vw;
    align-items: center;
}

.play .pemutar .icon {
    cursor: pointer;
    position: relative;
    margin-left: 14vw;
    width: 200px;
    color: white;
    font-size: 32px;
}

.play .pemutar .icon :hover{
    color: #ffd189;
}

.play .pemutar .playback span {
    color: white;
    width: 32px;
    font-size: 12px;
}

.play .playback {
    /* margin-left: 18.3vw; */
    display: flex;
}

.play .playback .garis {
    position: relative;
    width: 30vw;
    border-radius: 10.5%;
    height: 4px;
    background:#4c5262;
    margin: 8px 15px 0px 10px;
}

.play .playback .garis2 {
    position: absolute;
    background: #ffd189;
    width: 0%;
    height: 100%;
    top:0px;
    transition: 2s linear;
}

.play .playback .dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #ffd189;
    border-radius: 50%;
    top: -4px;
    transition: 2s linear;
}

.play .playback input {
    position: absolute;
    width: 100%;
    top: -10px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.play .vol {
    position: relative;
    border-radius: 12%;
    width: 130px;
    height: 4px;
    background:#4c5262;
    margin-left: 19vw;
}

.play .vol i {
    position: absolute;
    color: white;
    font-size: 24px;
    top:-15px;
    left: -30px;
}

.play .vol input {
    position: absolute;
    width: 100%;
    top: -9px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;    
}   

.play .vol .garis_volume {
    position: absolute;
    background: #ffd189;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.play .vol .dot_volume {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #ffd189;
    border-radius: 50%;
    top: -4px;
    left: 100%;
    transition: .3s;
}


.lagu {
    width: 100%;
    height: 88%;
    display: flex;
    overflow: auto;
    justify-content: center;
    /* border: 1px solid white; */
}

.poster {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90%;
    text-align: center;
    align-items: center ;
    margin: 2% 2% 0% 2%;
    /* border: 1px solid white; */
    border-radius: 20px;
    background: #141d2c;
}

.poster[id="sebelum"]::before,
.poster[id="sesudah"]::before {
    content: ""; /* Membuat pseudo-elemen sebelumnya */
    position: absolute; /* Mengatur posisi absolute */
    top: 0;
    left: 0;
    width: 100%; /* Mengisi seluruh lebar container */
    height: 100%; /* Mengisi seluruh tinggi container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan ke container */
    z-index: -1;
}

.poster[id="sebelum"],
.poster[id="sesudah"] {
    position: relative; 
    margin-top: 3%;
    filter: brightness(0.3);
}

.poster .label {
    margin-top: 2%;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.poster .sub {
    color: #4c5262;
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 10px; */
}

.poster img {
    margin: 5% 5% 0% 5%;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}